<div class="tips">
  <%= t "tip.manual_entry" %>
</div>
<%= form_for(@entry) do |f| %>
  <%= hidden_field_tag :method, :manual %>
  <dl>
    <dt><%= f.label :title, t(:title) %></dt>
    <dd><%= f.text_field :title, :class => 'txt-ctrl' %></dd>
  </dl>
  <dl>
    <dt><%= f.label :url, t(:url) %></dt>
    <dd><%= f.text_field :url, :class => 'txt-ctrl' %></dd>
  </dl>
  <dl>
    <dt><%= f.label :rss_url, t(:rss_url) %></dt>
    <dd><%= f.text_field :rss_url, :class => 'txt-ctrl' %></dd>
  </dl>
  <dl>
    <dt><%= f.label :tag, t(:tag) %></dt>
    <dd><%= f.text_field :tag, :class => 'txt-ctrl' %></dd>
  </dl>
  <dl>
    <dt><%= f.label :description, t("entry.desc") %></dt>
    <dd><%= f.text_area :description, :size => "60x4", :class => 'txt-ctrl' %></dd>
  </dl>
  <dl>
    <dd>
      <%= link_to_submit t(:add), :class => 'link-btn' %>
      <%= link_to t("entry.back"), user_path(current_user), :class => 'link-btn' %>
    </dd>
  </dl>
<% end %>
