<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @entry.url %>
</p>

<p>
  <b>Tag:</b>
  <%= @entry.tag %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
