<%= render 'shared/avatar-header', :user => @user %>
<%= render 'shared/header-profile', :user => @user %>
<div id="all-entries">
  <h3 class="window-title">
    <%= t "entry.brief" %> (<%= @user.entrys.count %>)
    <% if @user == current_user %>
      <%= link_to t(:new_entry), '#', :class => "title-link", :id => "add-entry-link",
            :onclick => "switch_quickadd('#add-entry-link'); return false;" %>
      <%= render 'entries/quickadd' %>
    <% end %>
  </h3>
  <% if user_entry_count(@user).zero? %>
    <div class="notice gray">
      <% if @user == current_user %>
        <div class="no_entry_tip">
          <p><%= t "tip.no_entry" %></p>
          <%= link_to t("entry.add_now"), "#", :class => 'link-btn', :id => "add_now_link",
                :onclick => "switch_quickadd('#add_now_link'); return false;" %>
        </div>
      <% else %>
          <%= t "tip.other_no_entry" %>
      <% end %>
    </div>
  <% else %>
    <div id="entry-list">
      <%= render @user.entrys %>
    </div>
  <% end %>
</div>
<div id="all-posts">
  <h3 class="window-title">
    <%= link_to t(:activity), posts_user_path(@user), :id => 'activity-title', :remote => true %>
    <%= link_to t(:refresh_post), refresh_posts_user_path(@user, :page => params[:page], :user => params[:user]), 
                :id => 'refresh-link', :remote => true, :class => "title-link", :method => :post %>
    <span id="posts-update-time" class="quiet"><%= render 'users/posts_update_time' %></span>
  </h3>
  <%= render 'users/activity_link' %>
  <%= render 'shared/posts' %>
</div> 
