<%= render 'home/tab_nav', :current => :about %>
<div id="about-content">
  <p><%= t "site.intro" %></p>
  <p>
    <%= t "site.add_entry" %><br/>
    <%= image_tag 'about/add-entry.png' %>
  </p>
  <p>
    <%= t "site.main_page" %><br/>
    <%= image_tag 'about/activity.png' %>
  </p>
  <p>
    <%= t "site.enjoy_it" %><%= link_to t("site.title.story"), story_path %>
  </p>
</div>
