<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
  <title><%= title %></title>
</head>
<body>
  <div id="container">
    <div id="header">
      <div class="middle">
        <div id="logo">
         <h1><%= link_to 'Coder Trace', root_path %></h1>
        </div>
        <%= render 'shared/dashboard' %>
      </div>
    </div>
    <div id="content" class="middle">
      <%= yield %>
    </div>
    <div id="footer"> 
      <div class="middle">
        <%= link_to t(:home), root_path %>&nbsp;|&nbsp;
        <%= link_to t(:suggest), suggest_path, :style => "color: #ff5344;" %>&nbsp;|&nbsp;
        <%= link_to t(:about), about_path %><br/>
        <span class="quiet">a <b style="color: #3c8ae9;">Kevin Lynx</b> production</span><br/>
        <span class="quiet">&copy;Coder Trace 2012</span>
      </div>
    </div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/6933048.js"></script>
<noscript><a href="http://www.51.la/?6933048" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/6933048.asp" style="border:none" /></a></noscript>
  </div>
</body>
</html>
